body{font-family:"Open Sans", sans-serif;}

.navbar-brand img{width: 5%;}

.titulo1{text-align: center;}

.somos{background-color: black;
color:white;
}

.somos h2{margin-bottom: 3%;
padding-top: 1%;}

.somos i{background-color: aqua;
width: 100%;
font-size:x-large}

.col-sm-4{padding: 3%;
margin-bottom: 5%;}

.destacados{background-color: black;
color: white;}

.titulo2{text-align: center;}

.card{margin-left: 10%;
    background-color: aqua;
    color:antiquewhite;
    margin-bottom: 20%;
    display: inline-flex
}

.contacto{background-color: black;
color: white;}

.mb-3{margin: 3%;}

.titulo3{text-align: center;}

.bttn{background-color: aqua;
margin: 3%;}

footer{background-color: aqua;
color: white;}

footer p{text-align: center;}